<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SCI - Login</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div class="container d-flex justify-content-center align-items-center min-vh-100">
            <div class="col-md-10">
                <div class="card shadow p-4">
                    <div class="row">
                        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-center border-right">
                            <img th:src="@{/images/logo.png}" class="img-fluid" alt="Logo">
                            <h4 class="mb-5">Bem-Vindo ao Sistema de Coordenação Institucional</h4>
                        </div>

                        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center border-left">
                            <!-- Mensagem de erro -->
                            <div th:if="${param.erro}" class="alert alert-danger">
                                Email ou senha incorretos.
                            </div>

                            <p>Faça login para continuar</p>
                            <!-- Formulário de login -->
                            <form th:action="@{/login}" method="post">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" class="form-control form-control-lg" placeholder="Digite seu email"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="senha">Senha</label>
                                    <input type="password" name="senha" id="senha" class="form-control form-control-lg" placeholder="Digite sua senha"
                                           required>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                            </form>
                        </div>
                    </div>

                    <div class="text-center mt-3">
                        <small>© 2025 Sistema de Coordenação Institucional</small>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
